/*  original EFES css 
 
 ul.index-instances { }

.index-instance-file {
    font-weight: bolder;
}

.index-instance-text-parts { }

.index-instance-line { }

footer {
    background: none repeat scroll 0 0 #fafafa;
    border-top: 1px solid #eeeeee;
    color: #777777;
    font-size: 80%;
    padding: 1em;
}
*/

ul.index-instances { }

.index-instance-file {
    font-weight: bolder;
}

.index-instance-text-parts { }

.index-instance-line { }

#site-title {
  overflow: hidden;
  background: #c1b7ae /*url(../images/DSC04838_1.JPG) left*/ no-repeat; 
  font-variant: small-caps;
  font-size: 45px;
  color: #F8F8F8;
  height: 100px;
  position: relative;
  margin-top: -1px;
  margin-bottom: -1px;
  /*padding-top: 38px;*/
  width: 100%
}

nav.top-bar, nav.top-bar ul.right li, nav.top-bar ul.left * {
    background-color: #c1b7ae;
}

nav.top-bar {
    margin: 0 0px 40px 140px;
}

.top-bar-section {
    letter-spacing: 1px;
}

p, li {
    text-align: justify;
}

p, h1, h2, h3, h4, h5, li, ul {
    font-family: "Lucida Sans", Tahoma, Verdana, Arial, Helvetica, sans-serif
}

h1 {
    font-size: 24px;
    color: #383737;
}

a:link, a:visited, a:active { color: #637893; }
a:hover { color: #45658B; } 

body{
    background: url(../images/body_bg.png) -7px top repeat-y;
    font: 100% "Lucida Sans", Tahoma, Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fcfcfc;
    display: block;
    border: 1px solid #efefef;
    padding: 3px 1px 3px 3px;
}

footer{
    margin: 0 20px 40px 170px;
    border-top: 2px solid #efefef;
    font-size: 75%;
    color: #999
}
